.background {
    background-color: black;
    height: 100vh; /* Use viewport height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-container {
    height: 100%; /* Maintain your existing percentage */
    width: 77%;
    margin-left: auto;
}