.NavBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

}

.NavButton {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 20px;
    transition: background 0.3s;
}

.color {
    background: #131414; /* Fallback for old browsers */
    background: -moz-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#131414), color-stop(100%,#2f2530)); /* Chrome,Safari 4+ */
    background: -webkit-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(to top, #131414 0%, #2f2530 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(to top, #131414 0%, #2f2530 100%); /* IE10+ */
    background: linear-gradient(to top, #131414 0%, #2f2530 100%); /* W3C, standard */
}