.project-card {
  width: 45vh;
  background: linear-gradient(to top, #4D4C55 0%, #6F5768 100%);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(19, 20, 20, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  height: 80vh;
}



.content {
  padding: 25px;
  color: #fff;
}

.content h2 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.content p {
  margin: 15px 0;
  color: #e1e1e1;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.image-container {
  width: 100%;
  height: 35vh;
  margin-top: auto;
  display:flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.image-container img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.image-container img:hover {
  transform: scale(1.2);
}


.button-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.primary {
  background: #ffffff;
  color: #131414;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.secondary {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.primary:hover {
  background: #e6e6e6;
  transform: scale(1.05);
}

.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}